<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/styles/cutestrap/layout/layout.css">
    <link rel="stylesheet" href="../assets/styles/cutestrap/layout/flexbox.css">
    <link rel="stylesheet" href="../assets/styles/learn.sorry.css">

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../assets/styles/learn.sorry.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="../scripts/tunerjs.js"></script>
</head>
<body>
<section class="sr-container">
    <nav class="cs-layout-row cs-space-between-start">
        <div class="cs-flex-shrink">
            <img src="../assets/images/asset (69).png" alt="placeholder">
        </div>
        <span class="swiper-pagination cs-flex cs-pos-rel"></span>
        <div class="cs-flex-shrink">
<!--            <div class="onoffswitch">-->
<!--                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="languageSwitch2" tabindex="0">-->
<!--                <label class="onoffswitch-label" for="languageSwitch2">-->
<!--                    <span class="onoffswitch-inner"></span>-->
<!--                    <span class="onoffswitch-switch"></span>-->
<!--                </label>-->
<!--            </div>-->

                </div>
    </nav>
    <div class="sr-content sr-float-start cs-layout-row cs-start-start cs-padding-0-2">
        <div class="onoffswitch cs-self-align-end">
            <input type="checkbox" name="langSwitch" onchange="langToggleAction()" class="onoffswitch-checkbox" id="languageSwitch2" tabindex="0">
            <label class="onoffswitch-label" for="languageSwitch2">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </label>
        </div>
        <div class="cs-flex cs-layout-column cs-start-center cs-pos-abs sr-nav-hanger" style="height: 75%;">
            <div class="sr-float-start cs-layout-row cs-center-stretch"  style="height: 90%; width: 100%; z-index: -1">
                <div class="sr-white-bar"></div>
            </div>
            <div style="height: 20%"></div>
            <div class="cs-full-circle cs-perfect-center sr-bullet-number">
                <div class="cs-full-circle cs-perfect-center" onclick="location.assign('templates/why.html')" >
                    1
                </div>
            </div>
            <div style="height: 20%"></div>
            <div class="cs-full-circle cs-perfect-center sr-bullet-number">
                <div class="cs-full-circle cs-perfect-center" onclick="location.assign('templates/why.html')" >
                    2
                </div>
            </div>
            <div style="height: 20%"></div>
            <div class="cs-full-circle cs-perfect-center sr-bullet-number">
                <div class="cs-full-circle cs-perfect-center" onclick="location.assign('templates/why.html')" >
                    3
                </div>
            </div>
            <div style="height: 20%"></div>
            <div class="cs-full-circle cs-perfect-center sr-bullet-number">
                <div class="cs-full-circle cs-perfect-center" onclick="location.assign('templates/why.html')" >
                    4
                </div>
            </div>
            <!--                    <img class="sr-nav-tiles" src="../assets/images/placeholder.jpg" alt="placeholder">-->
            <div style="height: 40%"></div>
            <img class="sr-nav-tiles" src="../assets/images/placeholder.jpg" alt="placeholder">
        </div>
        <div class="cs-flex cs-layout-row cs-flex-60 cs-center-center cs-self-align-center" style="height: 55%; margin: auto">
            <div class=" sr-swiper-container cs-layout-column cs-perfect-center cs-pos-rel">
                <div class="cs-layout-row cs-pos-abs cs-center-center">
                    <img src="../assets/images/asset (80).png" class="cs-flex-70" alt="background" style="z-index: -8;">
                </div>
                <div class="cs-layout-row cs-center-center">
                    <div class="swiper-container cs-layout-row cs-center-stretch cs-flex-60">
                        <div class="swiper-wrapper"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>

                    </div>
                </div>
            </div>

        </div>
        <div class="cs-flex cs-layout-column cs-start-center cs-pos-rel sr-nav-hanger" style="height: 75%;"></div>
    </div>
</section>
<section style="display: none">
    <div id="template-slide1" class="sr-slide-wrapper cs-layout-column cs-space-between-center swiper-slide" style="height: 100%">
        <div class="cs-layout-row cs-center-stretch cs-margin-5-0">
            <img class="cs-flex-50 sr-tile-img" alt="placeholder">
        </div>
        <div class="cs-layout-row cs-center-stretch cs-margin-5-0">
            <span class="sr-center-caption">
                ...
            </span>
        </div>
    </div>
</section>
<script>
    var english = true;
    var slides = [
        { title: 'hurt',    image: 'asset (87).png' },
        { title: 'injured', image: 'asset (93).png' },
        { title: 'break',   image: 'asset (99).png' },
        { title: 'lose',    image: 'asset (10).png' },
        { title: 'mistake', image: 'asset (16).png' },
        { title: 'not-talking', image: 'asset (57).png' },
        { title: 'angry',   image: "asset (27).png" },
        { title: 'lie',     image: 'placeholder.jpg' },
        { title: 'talk-rudely', image: 'asset (39).png' },
        { title: 'not-allowed', image: 'asset (48).png' }
    ];
    var languages = {
        hindi: {
            'hurt' : 'जब हमने किसी को दुःख पहोंचाया हो !',
            'injured' : 'जब हमारे कारण किसी को चोट लगे !',
            'break' : 'जब हमसे अचानक कोई चीज़ तूट जाए !',
            'lose' : 'जब हमसे कोई चीज़ गुम हो जाए !',
            'mistake' : 'जब कोई गलती करतें हैं !',
            'not-talking' : 'जब कोई हमसे बात नहीं करता !',
            'angry' : 'जब हमारे माँ - बाप - भाई - बहन हमसे गुस्सा हैं !',
            'lie' : 'जब हम झूठ बोलते है !',
            'talk-rudely' : 'जब हम चिल्लाते हैं या किसी से बदतमीजी से बात करते हैं !',
            'not-allowed' : 'जब हम ऐसा कार्य करते हैं जो हमें नहीं करना चाहिए !'
        },
        english: {
            'hurt' : 'When someone is hurt because of us',
            'injured' : 'When someone gets injured because of us',
            'break' : 'When we break something accidently',
            'lose' : 'When we lose something',
            'mistake' : 'When we make mistake',
            'not-talking' : 'When someone is not talking to us',
            'angry' : 'When our parents/siblings are angry with us',
            'lie' : 'When we lie',
            'talk-rudely' : 'When we yell or talk rudely with someone',
            'not-allowed' : 'When we do something we are not allowed'
        }
    };

    function langToggleAction() {
        english = !english;
        console.log(english);
        if(english)
            loadLanguage(languages.english);
        else
            loadLanguage(languages.hindi);
    }
    document.onreadystatechange = () => {
        if(document.readyState === 'complete' ) {
            loadSlides();
            loadLanguage(languages.english);
            const swiper = new Swiper('.swiper-container' , {
                direction: 'horizontal',
                loop: true,

                pagination: {
                    el: '.swiper-pagination',
                    clickable: true
                },

                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
            });
        }
    };
    function loadSlides() {
        let container = document.querySelector('.swiper-wrapper');
        container.innerHTML = '';
        let template = document.querySelector('#template-slide1');
        console.log(container);
        console.log(template);
        slides.forEach((slide, index) => {
            container.append(
                templateGenerator(template, {
                    title: slide.title,
                    image: '../assets/images/' + slide.image
                })
            );
            console.log(container);
        })
    }
    function loadLanguage(lang) {
        console.log(lang);
        for(let text of Object.getOwnPropertyNames(lang)){
            console.log(text);
            document.querySelector('#'+text).innerHTML = lang[text];
        }
    }
</script>
</body>
</html>
